<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender"> 
        <file>runtime.log</file> 
        <encoder> 
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder> 
    </appender> 
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender"> 
        <encoder> 
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder> 
    </appender> 
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <param name="QueueCapacity" value="5000"/>
        <param name="IncludeCallerData" value="true"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </appender>
    <root level="INFO">
        <appender-ref ref="ASYNC" /> 
    </root>
</configuration>